<div>
    <input name="email" type="email" required placeholder="Email" autocomplete="off"/><br>
    </div> 
    <div> 
    <input name="pass" type="password" required placeholder="Password" autocomplete="off"/><br>
    </div>
    <div>   
    <input name="enviar" type="submit" value="Enviar"  />
    </div>   
</div> 